@use "./variables.scss" as variables;

@mixin flexStyle {
    .dFlex {
        display: flex;
    }

    .flexColumn {
        flex-direction: column;
    }
}

@mixin upperCaseStyle {
    .upperCase {
        text-transform: uppercase;
    }
}

@mixin buttonStyle {
    background: none;
    border: 1px solid variables.$border-color;
    padding: 0.5rem;
    border-radius: variables.$radius;
    cursor: pointer;
}

@mixin lineStyle {
    .line {
        line-height: 25px;
    }
}

@mixin percentDataStyle {
    .green {
        color: variables.$green;
    }
    .red {
        color: variables.$red;
    }
}

@mixin loadingStyle {
    .loading {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .spinner {
        height: 5rem;
        width: 5rem;
        border: 10px solid variables.$secondary-color;
        border-left: 10px solid variables.$active-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: spin infinite 1.5s linear;
    }

    .spinnerText {
        position: absolute;
        font-size: 7px;
        font-weight: 600;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-family: sans-serif;
    }

    @keyframes spin {
        to { transform: rotate(360deg); }
    }
}

@mixin paddingHeaderStyle {
    padding-top: variables.$top-space;
    padding-bottom: variables.$top-space;
    padding-left: variables.$left-space;
    padding-right: variables.$left-space;
}

@mixin headerStyle {
    .header {
        @include paddingHeaderStyle();
        gap: 30px;
        overflow-x: scroll;

        @media (max-width: variables.$breakpoint-tablet) {
            font-size: variables.$font-size-tablet;
            gap: 10px;
        }
        @media (max-width: variables.$breakpoint-mobile) {
            font-size: variables.$font-size-mobile;
        }

        &_vol {
            gap: 5px;
        }
    }
}

@mixin navStyle {
    .navbar {
        position:fixed;
        bottom: 0;
        left: 0;
        background-color: variables.$primary-color;
        padding: 1.7rem;
        z-index: 1;
        width: 100%;
        color: variables.$border-color;
        justify-content: center;
        gap: 12px;
        box-shadow: 0px -14px 29px -2px rgba(0,0,0,0.52);

        @media (max-width: variables.$breakpoint-tablet) {
            font-size: variables.$font-size-tablet;
        }
        @media (max-width: variables.$breakpoint-mobile) {
            font-size: variables.$font-size-mobile;
        }

        svg {
            margin-left: 0.5rem;
        }

        .active {
            color: variables.$active-color;
            border-bottom: 1px solid variables.$active-color;
            svg {
                fill: variables.$active-color;
            }
        }
    }
}

@mixin searchStyle {
    .search {
        width: 100%;
        border: 1px solid variables.$border-color;
        border-radius: 100px;
        padding-top: variables.$left-space;
        padding-bottom: variables.$left-space;
        padding-right: variables.$left-space;
        padding-left: variables.$left-space * 3.5;
        outline: none;
        display: block;
        margin: auto;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' width='26' height='26' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
        background-position: 1%;

        @media (max-width: variables.$breakpoint-tablet) {
            font-size: variables.$font-size-tablet;
        }
        @media (max-width: variables.$breakpoint-mobile) {
            font-size: variables.$font-size-mobile;
        }
    }

    .search::placeholder {
        @media (max-width: variables.$breakpoint-tablet) {
            font-size: variables.$font-size-tablet;
        }
        @media (max-width: variables.$breakpoint-mobile) {
            font-size: variables.$font-size-mobile;
        }
    }

    .suggest, .history {
        width: 100%;
        display: block;
        margin: auto;
        margin-top: 0.25rem;
        @media (max-width: variables.$breakpoint-tablet) {
            font-size: variables.$font-size-tablet;
        }
        @media (max-width: variables.$breakpoint-mobile) {
            font-size: variables.$font-size-mobile;
            padding-left: variables.$left-space;
        }

        span {
            vertical-align: top;
            &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                margin-left: variables.$left-space;
            }
        }
    }

    .closeHistory {
        float: right;
        @include buttonStyle();
    }
}


@mixin filterStyle {
    .selectContainer {
        gap: 40px;
        margin-top: variables.$top-space;
        padding-left: variables.$left-space;
        padding-right: variables.$left-space;

        @media (max-width: variables.$breakpoint-tablet) {
            gap: 20px;
        }
    }
    .select {
        margin-top: 1rem;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid variables.$border-color;
        padding: 2px;
        width: 100%;
        outline: none;
        @media (max-width: variables.$breakpoint-tablet) {
            font-size: variables.$font-size-tablet;
        }
        @media (max-width: variables.$breakpoint-mobile) {
            font-size: variables.$font-size-mobile;
        }
    }
}



@mixin searchResultStyle {
    .result {
        margin-top: variables.$top-space;
        margin-left: variables.$left-space;
    }
}

@mixin topButtonStyle {
    .topButton {
        position: fixed;
        right: 0;
        bottom: 0;
        margin-right: variables.$left-space;
        margin-bottom: variables.$top-space * 4.5;
        background: none;
        border-image: variables.$border-color-gradient;
        cursor:pointer;
    }
}


@mixin listStyle {
    .tableHeader {
        margin-top: variables.$top-space;
        margin-bottom: 0.25rem;
        .coin {
            flex: 0.25;
            margin-left: variables.$left-space;
            @media (max-width: variables.$breakpoint-mobile) {
                flex: 0.4;
            }
        }
    }
    .table {
        border: 1px solid variables.$border-color;
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;

        @media (max-width: variables.$breakpoint-tablet) {
            font-size: variables.$font-size-tablet;
        }
        @media (max-width: variables.$breakpoint-mobile) {
            font-size: variables.$font-size-mobile;
        }
        .firstRow {
            margin-left: variables.$left-space;

            .name {
                margin-left: variables.$left-space;
            }
        }
        .buttonContainer {
            margin-top: 1rem;
            padding-bottom: 1rem;
            margin-left: 2rem;
            button {
                @include buttonStyle();
            }
        }
    }
}

@mixin favoriteStyle {
    .favorite {
        margin-bottom: 8.4rem;
    }
}

@mixin borderPriceChangePercentageStyle {
    border-left: 1px solid variables.$border-color;
    border-right: 1px solid variables.$border-color;
    border-top: 1px solid variables.$border-color;
}

@mixin cryptoDetailsHeaderStyle {
    .header {
        @include paddingHeaderStyle();
    }
    .rankBloc {
        background-color: variables.$border-color;
        padding: variables.$left-space;
        border-radius: 30px;
        width: 90px;
        margin-bottom: variables.$top-space;
        @media (max-width: variables.$breakpoint-tablet) {
            width: 100px;
        }
        @media (max-width: variables.$breakpoint-mobile) {
            width: 110px;
        }
    }
    .coinBloc {
        gap: 15px;
        margin-bottom: variables.$top-space;
        font-weight: bold;
        div:nth-child(2), div:nth-child(3) {
            margin-top: 15px;
        }
    }
    .marketDataBloc {
        gap: 20px;
        margin-bottom: variables.$top-space;
    }


    .coinInfo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        margin-bottom: variables.$top-space;

        div {
            border-bottom: 1px solid variables.$border-color;
            padding-bottom: variables.$top-space / 4;

            @media (max-width: variables.$breakpoint-tablet) {
               border: none;
            }
        }

        @media (max-width: variables.$breakpoint-tablet) {
            grid-template-columns: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 19px;
        }
    }

    .pricePercentageBloc {
        margin-bottom: variables.$top-space;
        overflow-x: scroll;

        div {
            label {
                justify-content: center;
                @include borderPriceChangePercentageStyle;
                padding: .75rem 2.5rem .75rem 2.5rem;
            }
            div {
                @include borderPriceChangePercentageStyle;
                border-bottom: 1px solid variables.$border-color;
                 padding: .75rem 2.5rem .75rem 2.5rem;
            }
        }
    }
}
