@use "./variables.scss" as variables;

@mixin flexStyle {
    .dFlex {
        display: flex;
    }

    .flexColumn {
        flex-direction: column;
    }
}

@mixin upperCaseStyle {
    .upperCase {
        text-transform: uppercase;
    }
}

@mixin lineStyle {
    .line {
        line-height: 25px;
    }
}

@mixin percentDataStyle {
    .green {
        color: variables.$green;
    }
    .red {
        color: variables.$red;
    }
}

@mixin loadingStyle {
    .loading {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .spinner {
        height: 5rem;
        width: 5rem;
        border: 10px solid rgb(250, 250, 250);
        border-left: 10px solid rgb(8, 0, 33);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: spin infinite 1.5s linear;
    }

    .spinnerText {
        position: absolute;
        font-size: 7px;
        color: rgb(24, 0, 0);
        font-weight: 600;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-family: sans-serif;
    }

    @keyframes spin {
        to { transform: rotate(360deg); }
    }
}


@mixin filterStyle {
    .selectContainer {
        gap: 40px;
        margin-top: variables.$top-space;
        padding-left: variables.$left-space;
        padding-right: variables.$left-space;

        @media (max-width: variables.$breakpoint-tablet) {
            gap: 20px;
        }
    }
    .select {
        margin-top: 1rem;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid variables.$border-color;
        padding: 2px;
        width: 20vw;
        outline: none;
        @media (max-width: variables.$breakpoint-tablet) {
            font-size: variables.$font-size-tablet;
        }
        @media (max-width: variables.$breakpoint-mobile) {
            font-size: variables.$font-size-mobile;
            width: 30vw;
        }
    }
}



@mixin searchResultStyle {
    .result {
        margin-top: variables.$top-space;
        margin-left: variables.$left-space;
    }
}

@mixin topButtonStyle {
    .topButton {
        position: fixed;
        right: 0;
        bottom: 0;
        margin-right: variables.$left-space;
        margin-bottom: variables.$top-space;
        background: none;
        border-image: variables.$border-color-gradient;
    }
}

@mixin listStyle {
    .tableHeader {
        margin-top: variables.$top-space;
        margin-bottom: 0.25rem;
        .coin {
            flex: 0.25;
            margin-left: variables.$left-space;
            @media (max-width: variables.$breakpoint-mobile) {
                flex: 0.4;
            }
        }
    }
    .table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        @media (max-width: variables.$breakpoint-tablet) {
            font-size: variables.$font-size-tablet;
        }
        @media (max-width: variables.$breakpoint-mobile) {
            width: 150%;
            font-size: variables.$font-size-mobile;
        }
        .firstRow {
            margin-left: variables.$left-space;

            .name {
                margin-left: variables.$left-space;
            }
        }
        .buttonContainer {
            margin-top: 1rem;
            padding-bottom: 1rem;
            margin-left: 2rem;
            button {
                background: none;
                border: 1px solid variables.$border-color;
                padding: 0.5rem;
                border-radius: variables.$radius;
                cursor: pointer;
            }
        }
    }
}