$green: rgb(3, 166, 3);
$red: rgb(134, 5, 5);
$border-color: #ccc;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

$font-size-tablet: 14px;
$font-size-mobile: 17px;


$left-space: 0.75rem;
$top-space: 2rem;
