$green: rgb(3, 166, 3);
$red: rgb(134, 5, 5);
$border-color: #ccc;
$border-color-gradient: linear-gradient(to right bottom, #011346, #071c6f, #232199, #4721c3, #7012eb) 1;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

$font-size-tablet: 18px;
$font-size-mobile: 20px;


$left-space: 0.75rem;
$top-space: 2rem;
$radius: 10px;
